@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Syne:wght@400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cstm-blue-100;
  @apply m-0;
  @apply p-0;
  @apply font-dm;
  @apply overflow-x-hidden;
}
#root {
  @apply overflow-x-hidden;
}
a {
  @apply block;
}
img {
  @apply w-full;
  @apply object-cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-syne;
  @apply font-semibold;
  @apply break-words;
}
.txt-stroke {
  -webkit-text-stroke-width: 1px;
}
.txt-stroke-white {
  -webkit-text-stroke-color: #fff;
}
.txt-stroke-primary {
  -webkit-text-stroke-color: #1eebb4;
}
.circularTxt {
  @apply tracking-widest;
}
.blog-slider .swiper-wrapper {
  @apply pb-2.5 ps-0 sm:ps-2;
}
